* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-style: normal;

}

.navbar {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #F55A5A;
  overflow: hidden;
  display: flex;
}

.globe {
  height: 50px;
  padding-left: calc(50% - 100px);
}

.link {
  color: grey;
}

.location--img {
  height: 25px;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.content {
  margin: 20px;
  text-align: justify;
  display: flex;
}

.text {
  width: 400px;
  padding-left: 25px;
}

.traveljournal {
  padding-left: 10px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.dates {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
}

.titles {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.country {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

@media screen and (max-width:600px) {
  .content {
    width: 100%;
  }
}